<form action="" method="GET" class="pure-form">
    <fieldset class="pure-u-1">
        <legend>Solr query formatter</legend>

        <div class="pure-u-1">
            <textarea name="raw-query" id="raw-query" class="pure-input-1" placeholder="Veuillez saisir la requ&ecirc;te &aacute; formater." required autofocus></textarea>
        </div>

        <div class="pure-u-1">
            <button type="submit" id="format-query" class="pure-button pure-input-1">format</button>
        </div>
    </fieldset>
</form>